In [16]:
# Dependencies
from bs4 import BeautifulSoup as soup
from splinter import Browser
import pandas as pd

In [2]:
# # URL of page to be scraped
# url = 'https://mars.nasa.gov/news/'

In [3]:
executable_path = {'executable_path': 'C:\ShankersDocs\chromedriver_win32\chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [4]:
url = 'https://mars.nasa.gov/news/'
browser.visit(url)
html = browser.html

In [5]:
# Create BeautifulSoup object; parse with 'html.parser'
news_soup = soup(html, 'html.parser')

In [6]:
slideelement = news_soup.select_one('ul.item_list li.slide')
slideelement.find("div",class_='content_title')

In [7]:
news_title = slideelement.find("div",class_='content_title').get_text()
news_title

"Celebrate Mars Reconnaissance Orbiter's Views From Above"

In [8]:
news_p = slideelement.find("div",class_='article_teaser_body').get_text()
news_p

'Marking its 15th anniversary since launch, one of the oldest spacecraft at the Red Planet has provided glimpses of dust devils, avalanches, and more.'

### JPL Mars Space Images - Featured Image

In [9]:
url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(url)
full_image_element = browser.find_by_id('full_image')
full_image_element.click()

In [10]:
browser.is_element_present_by_text('more info',wait_time=1)
more_info_element = browser.links.find_by_partial_text('more info')
more_info_element.click()

In [11]:
html = browser.html
imagesoup = soup(html,'html.parser')
imageurlrelative = imagesoup.select_one('figure.lede a img').get("src")

In [12]:
imageurlrelative

'/spaceimages/images/largesize/PIA16565_hires.jpg'

In [14]:
featured_image_url = f"https:/www.jpl.nasa.gov{imageurlrelative}"
featured_image_url

'https:/www.jpl.nasa.gov/spaceimages/images/largesize/PIA16565_hires.jpg'

### JPL Mars Space Images - Featured Image

In [29]:
df = pd.read_html("https://space-facts.com/mars/")[0]
df.head()

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)

In [30]:
df.columns = ['Description','Mars']
df.set_index('Description',inplace=True)
df

                                               Mars
Description
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

    Hemisphere

In [ ]:
hemisphere_image_urls = [
    {"title": "Valles Marineris Hemisphere", "img_url": "..."},
    {"title": "Cerberus Hemisphere", "img_url": "..."},
    {"title": "Schiaparelli Hemisphere", "img_url": "..."},
    {"title": "Syrtis Major Hemisphere", "img_url": "..."},
]

In [35]:
hemisphere_image_urls = []

In [36]:
mars_hemi_url = "https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"
browser.visit(mars_hemi_url)
links = browser.find_by_css("a.product-item h3")
for i in range(len(links)):
    hemisphere = {}
    browser.find_by_css("a.product-item h3")[i].click()
    sample_element = browser.links.find_by_text('Sample').first
    hemisphere["img_url"] = sample_element['href']
    hemisphere['title'] = browser.find_by_css("h2.title").text
    hemisphere_image_urls.append(hemisphere)
    browser.back()

In [37]:
hemisphere_image_urls

[{'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg',
  'title': 'Cerberus Hemisphere Enhanced'},
 {'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg',
  'title': 'Schiaparelli Hemisphere Enhanced'},
 {'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg',
  'title': 'Syrtis Major Hemisphere Enhanced'},
 {'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg',
  'title': 'Valles Marineris Hemisphere Enhanced'}]

In [38]:
browser.quit()